@charset "UTF-8";
/* CSS Document */
/* colors  accent color: #C39EA0; main background color: #2e2e2e; secondary darker color: #422223;  */
body, 
html {
  margin: 0;
  padding: 0;
  width: 100%;
}


header,footer,section, div {
  box-sizing: border-box;
}

ul {	
  list-style: none;
  padding: 0;
  margin: 0;
}


body {
	font-family: "source-sans-pro",Helvetica, Arial, "sans-serif";
	background-color:#2e2e2e;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.main {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

a {
	text-decoration: none;
}
/*
header {
    width: 100%;
    background-color:#C39EA0;
	overflow: hidden;

}

 
.logo {
	color: #2e2e2e;
	font-weight: bold;
	text-align: undefined;
	float: left;
	margin-top: 15px;
	margin-left: 35px;
	letter-spacing: 4px;
}
/* nav */
/*
nav {
	margin-top: 15px;
	float: right;
	width: 60%;
	text-align: right;
	margin-left: 10px;
	margin-right: 25px;
}

header nav ul {
	list-style: none;
	float: right;
}

nav ul li {
	float: left;
	font-size: 14px;
	text-align: left;
	margin-right: 25px;
	letter-spacing: 2px;
	font-weight: 400;
	transition: all 0.3s linear;
}

ul li a {
	color: #2e2e2e;
	text-decoration: none;
}




ul li:hover a {
	color: #422223;
	font-weight: 900;
}

/* new nav set up as of April 1st */


header {
    width: 100%;
    background-color:#C39EA0;
	overflow: hidden;
	margin-bottom: 80px;

}

/* nav section */

.nav {
  background-color: #C39EA0;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;	
  margin: auto;
  z-index: 3;	
}

.nav a {
  color: #2e2e2e;
}

.nav ul {
  margin: 0;
  padding: 0;
  font-weight: 400;	
  list-style: none;
  overflow: scroll;
  background-color: #C39EA0;
	
}

.nav li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
}

.nav li a:hover,
.nav .menu-btn:hover {
  	color: #422223;
	font-weight: 900;
}

.logo {
	color: #2e2e2e;
	font-weight: bold;
	text-align: undefined;
	float: left;
	letter-spacing: 4px;
}

.nav .logo {
  display: block;
  float: left;
  font-size: 2em;	
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */


.nav .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.nav .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 30px 20px;
  position: relative;
  user-select: none;
}

.nav .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.nav .menu-icon .navicon:before,
.nav .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.nav .menu-icon .navicon:before {
  top: 5px;
}

.nav .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.nav .menu-btn {
  display: none;
}

.nav .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.nav .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.nav .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.nav .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}


/* nav responsive and text removal */
/*
@media (min-width: 600px) {
  .nav li {
    float: left;
  }
  .nav li a {
    padding: 20px 30px;
  }
  .nav .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .nav .menu-icon {
    display: none;
  }
	
  
}

*/

.about {
	padding: 35px, 25px;
	display: inline-block;
	background-color: #2e2e2e;
	margin-top: 25px;
	color: #f8f8ff;
	border-bottom: 2px solid #C39EA0;
	
}

.about a {
	text-decoration: none;
	color: #f8f8ff;
	font-weight: 600;
	
}

.about a:hover {
	color: #C39EA0;
}

aside img#jona {
	max-width: 30%;
	height: auto;
	border-radius: 800px;
	float: right;
	margin: 15px;
	word-wrap: break-word;
	-webkit-filter: grayscale(0%);
	
}

aside:hover img#jona {
	 -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.about h1 {
	font-size: 2.8em;
	margin-bottom: -10px;
	
}

.about h3 {
	color: #C39EA0;
}

.about h1, p, h3 {
	margin-left: 30px;
}


/* Porfolio section */
.portfolio {
	overflow: hidden;
	border-bottom: 2px solid #C39EA0;
	margin: auto;
}

.portfolio h2, .resume h2 {
	position: relative;
	width: 100%;
	margin: 5% 0 2% 0;
	text-align: center;
	font-size: 2.5em;
	letter-spacing: 1.5px;
	color: #f8f8ff;
}


/*

.port {
	position: relative;
	width: 100%;
	
}

.port h2 {
	position: relative;
	width: 100%;
	margin: 5% 0 2% 0;
	text-align: center;
	font-size: 2.5em;
	letter-spacing: 1.5px;
	color: #f8f8ff;
}

.port p {
	text-align: center;
	color: #f8f8ff;
}

.port .gallery {
	position: relative;
	height: 100%;
	width: 90%;
	margin: auto;
	padding: 40px 0;
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 15px;
	grid-auto-flow: dense;
}

.port .gallery .img {
	position: relative;
	width: 100%;
	overflow: hidden;
	box-shadow: 0px 3px 2px rgba(0,0,0,0.9);
	border-radius: 4px;
}

.port .gallery .img:first-child {
	grid-column-start: span 2;
	grid-row-start: span 2;
}

.port .gallery .img:nth-child(2n+1) {
	grid-row-start: span 2;
}

.port .gallery .img:nth-child(4n+3) {
	grid-column-start: span 2;
	grid-row-start: span 2;
}

.port .gallery .img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter:brightness(0.4) grayscale(100);
	transition: 0.3s ease-in-out;
}

.port .gallery .img:hover img {
	filter: brightness(1) grayscale(0);
}
*/

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
  margin-bottom: 20px;
  margin-top: 20px;	
  padding: 10px;	
  text-align: left;	
	
}

.grid p {
	margin-bottom: 25px;
}

/* port buttons in grid */
.btn {
  color: #2e2e2e;
  padding: 15px;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  background: #C39EA0;	
  margin-top: 10px;
  margin-bottom: 10px;	
  margin-left: 25px;	
  transition-duration: 0.4s;	
}

.btn:hover {
	color: #422223;
	font-weight: 900;
}


.grid > article {
  border: 2px solid #C39EA0;
  background-color: #f8f8ff;
  padding-bottom: 15px;		
}

.grid > article img {
  max-width: 100%;
}

.grid .text {
  padding: 20px;
}

/* RESUME */

.resume {
	padding: 35px, 25px;
	display: inline-block;
	background-color: #2e2e2e;
	margin-top: 0px;
	color: #f8f8ff;
	border-bottom: 2px solid #C39EA0;
}

.work-last {
	margin-bottom: 15px;
}
.work-detail h3 {
	color: #C39EA0;
}
 .job-company {
	font-weight: 600;
}

.job-sum {
	margin-left: 20px;
	
}
.job-sum li {
	list-style-type: disc;
	margin: 10px 0;
}
/* CONTACT */

.contact {
	width: 100%;
	background-color: #2e2e2e;
	color: #f8f8ff;
	margin-top: 0px;
}

.contact a {
	text-decoration: none;
	color: #f8f8ff;
	font-size: 1.5em;
}

.contact a:hover {
	color: #C39EA0;
}



/* FOOTER */
.footer {
	background-color: #2e2e2e;
	color: #C39EA0;
	padding-top: 30px;
	padding-bottom: 30PX;
	text-align: center;
	margin-bottom: 0px;
	border-top: 2px solid #C39EA0;
}

.footer p {
	font-size: .75em;
}



/* SOCIAL ICONS */

.social {
	text-align: center;
	margin-top: 10px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;	
}

/* LinkedIn */
.fa-linkedin {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: palevioletred;
  color: white;
}


/* Responsive layout for contact */

/* responsive layout for portfolio */
/*
@media only screen and (max-width: 768px){
	.port .gallery {
		display: grid;
		grid-template-columns: auto auto auto;
	}
}
*/

@media only screen and (max-width: 430px){
	h1 {
	  font-size: 1em;
	}
	
	/*
	
	.port .gallery {
		display: block;
	}
	.about, .portfolio, .resume, .contact, .footer {
		font-size: .75em;
	}
	
	.port .gallery .img {
		display: block;
		width: 100%;
	}
	
	*/
	
	.resume {
		padding-left: 15px;
		padding-right: 15px;
	}
  
	
}

@media only screen and (max-width: 650px){
	h1 {
	  font-size: .5em;
	}
	
	.logo {
		width: 50%;
	}
	/*

	.port .gallery {
		display: block;
	}
	.resume {
		font-size: .75em;
	}
	
	.port .gallery .img {
		display: block;
		width: 100%;
	}
	
	*/
	
	.resume {
		padding-left: 10px;
		padding-right: 10px;
	}
	
	
	
}

/*
@media only screen and (max-width: 820px){
	h1 {
	  font-size: .5em;
	}
	
	/*

	.port .gallery {
		display: block;
	}
	.resume {
		font-size: .75em;
	}
	
	.port .gallery .img {
		display: block;
		width: 100%;
	}
	

	
	.resume {
		padding-left: 10px;
		padding-right: 10px;
	}
	
	
	
}

*/

/* responsive layout for whole site */

@media screen  and (min-width: 768px) {
	
		body {
			font-size: 1em;
			width: 80%;
			margin-left: auto;
			margin-right: auto;
		}

		aside img#jona {
			max-width: 25%;
		}
		.work-item {
			display: grid;
			grid-template-columns: 1fr 2fr;
			column-gap: 15px;
		}
	
		.grid {
			grid-template-columns: 1fr 1fr 1fr;
		}

		.nav {
			max-width: 80%;
			margin-left: auto;
			margin-right: auto;

		}

	  .nav li {
		float: left;
	  }

	  .nav li a {
		padding: 20px 30px;
	  }

	  .nav .menu {
		clear: none;
		float: right;
		max-height: none;
	  }

	  .nav .menu-icon {
		display: none;
	  }
	
	

}